<button routerLink="/uplata" type="button" mat-raised-button>Nazad na pregled uplata</button>
<br>
<hr>
<form [formGroup]="formdata" (ngSubmit)="snimi()">
    <div>

        <div>
            <mat-form-field>
                <mat-label>Kurir</mat-label>
                <mat-select formControlName="kurirId">
                    <mat-option *ngFor="let kurir of kuriri" [value]="kurir.kurirId">
                        {{ kurir.kurirId }} - {{ kurir.ime }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Račun primaoca</mat-label>
                <input matInput type="text" name="racunPrimaoca" placeholder="Unesite račun primaoca"
                    formControlName="racunPrimaoca">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Uplatioc</mat-label>
                <input matInput type="text" name="nazivUplatioca" formControlName="nazivUplatioca"
                    placeholder="Unesite naziv uplatioca">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Grad uplatioca</mat-label>
                <input matInput type="text" name="gradUplatioca" formControlName="gradUplatioca"
                    placeholder="Unesite grad uplatioca">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Adresa uplatioca</mat-label>
                <input matInput type="text" name="adresaUplatioca" formControlName="adresaUplatioca"
                    placeholder="Unesite adresa uplatioca">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Datum transakcije</mat-label>
                <input matInput [matDatepicker]="picker" name="datumTransakcije" placeholder="Unesite datum"
                    formControlName="datumTransakcije">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>


        </div>

        <div>
            <mat-form-field>
                <mat-label>Iznos uplate</mat-label>
                <input matInput type="text" name="iznosUplate" (blur)='izracunaj()' formControlName="iznosUplate"
                    placeholder=" Unesite iznos uplate">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Iznos provizije</mat-label>
                <input matInput type="text" name="iznosProvizije" formControlName="iznosProvizije" [readonly]="true"
                    placeholder="Iznos provizije">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Ukupna uplata</mat-label>
                <input matInput name="ukupnaUplata" formControlName="ukupnaUplata" [readonly]="true"
                    placeholder="Ukupna uplata">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Datum unosa</mat-label>
                <input matInput [matDatepicker]="picker2" name="datumUnosa" placeholder="Unesite datum"
                    formControlName="datumUnosa">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>
    </div>

    <div class="button">
        <button type="submit" mat-raised-button color="primary">Sačuvaj</button>
    </div>
</form>