<mat-card class="example-card">
    <mat-card-title-group>
        <mat-card-title>Funkcionalnost Trgovac</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
        <button routerLink="/trgovac" type="button" mat-raised-button>Otvori funkcionalnost Trgovac</button>
    </mat-card-content>
</mat-card>
<br>
<mat-card class="example-card">
    <mat-card-title-group>
        <mat-card-title>Funkcionalnost Trgovac</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
        <button routerLink="/trgovac" type="button" mat-raised-button>Otvori funkcionalnost Trgovac</button>
    </mat-card-content>
</mat-card>
<br>
<mat-card class="example-card">
    <mat-card-title-group>
        <mat-card-title>Funkcionalnost Trgovac</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
        <button routerLink="/trgovac" type="button" mat-raised-button>Otvori funkcionalnost Trgovac</button>
    </mat-card-content>
</mat-card>