<div class="divCard">
    <mat-card class="cardColor">
        <mat-card-title-group>
            <mat-card-title>Funkcionalnost Trgovac</mat-card-title>
        </mat-card-title-group>
        <mat-card-content>
            <button routerLink="/trgovac" type="button" mat-raised-button>Otvori funkcionalnost Trgovac</button>
        </mat-card-content>
    </mat-card>
    
    <mat-card class="cardColor">
        <mat-card-title-group>
            <mat-card-title>Funkcionalnost Kurir</mat-card-title>
        </mat-card-title-group>
        <mat-card-content>
            <button routerLink="/kurir" type="button" mat-raised-button>Otvori funkcionalnost Kurir</button>
        </mat-card-content>
    </mat-card>

    <mat-card class="cardColor">
        <mat-card-title-group>
            <mat-card-title>Funkcionalnost Trgovac</mat-card-title>
        </mat-card-title-group>
        <mat-card-content>
            <button routerLink="/trgovac" type="button" mat-raised-button>Otvori funkcionalnost Trgovac</button>
        </mat-card-content>
    </mat-card>
</div>