<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo" routerLink="/pocetna" src="favicon.ico" />
  <span routerLink="/pocetna">UPLATA PAZARA</span>

  <div class="spacer"></div>
  <!-- Dugme za odjavu -->
  <div class="{{ proba }}">
    <button type="button" (click)="logout()" mat-raised-button>Odjavi se {{userDisplayName}}!</button>
  </div>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>

  <!-- Footer -->
  <!-- <footer>
      Uplata pazara
  </footer> -->

</div>